@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif !important;
    background: $grey;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.bx{
    font-size: 1.7rem;
}

.page, .top-menu{
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    transition: all 0.3s ease;
}

#app:has(.close){
    .page, .top-menu{
        width: calc(100% - 60px);
        left: 60px;
    }
}

.page{
    padding: 20px;
}

