@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  background: $grey;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0 !important;
}

li {
  list-style: none;
}

.bx {
  font-size: 1.7rem;
}

.page,
.top-menu {
  position: relative;
  width: calc(100% - 250px);
  left: 250px;
  transition: all 0.3s ease;
}

#app:has(.close) {
  .page,
  .top-menu {
    left: 60px;
  }

  .top-menu {
    width: calc(100% - 60px);
  }

  .page {
    width: calc(100% - 100px);
  }
}

.page {
  background-color: $light;
  padding: 20px;
  margin: 20px;
  width: calc(100% - 290px);
  border-radius: 10px;

  h1 {
    font-size: 36px;
    line-height: 42px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}
