$color: red;
$light: #f6f6f9;
$primary: #1976d2;
$light-primary: #cfe8ff;
$grey: #eee;
$dark-grey: #aaaaaa;
$dark: #5c5d6d;
$danger: #d32f2f;
$light-danger: #fecdd3;
$warning: #fbc02d;
$light-warning: #fff2c6;
$success: #388e3c;
$light-success: #bbf7d0;
$breakpoint-extra-small: 480px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px
